#map{
    padding: 50px 0;
.map_main{

  iframe{
    height: 500px;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
}
    
}