#testi{
    padding: 100px 0;
    .test_text{
        text-align: center;
        h3{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            color: red;
        }
        h2{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            color: black;
            margin-top: 10px;
            font-size: 50px;
        }
        p{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.517);  
            margin-top: 5px;
            font-size: 18px;
        }
    }
    .silik_text{
        text-align: center;
        h3{
            color: rgba(0, 0, 0, 0.353);
            font-size: 22px;
            font-family: 'Roboto Condensed', sans-serif;
            
        }
        .test_inner{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            img{
                width: 100px;
                height: 100px;
                margin: 0 10px;
                

            }
            h4{
                color: red;
                margin: 0 10px;
            }
        }
   
    }
  

}
.slick-dots{
    width: 150px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    .slick-active button{
        opacity: 1;
    }
    li{
        display: inline-block;
        margin: 0 10px;
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

       
        button{
            height: 10px;
            width: 10px;
            background-color: #ffff;
            color: transparent;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-top: 5px;
            margin-left: 5px;
            border: none;
            color: transparent;
           opacity: 0;
            
               
       }
   
    
   }
}
